In [2]:
import pandas as pd
from pandas import DataFrame

In [3]:
data = pd.read_csv('football.csv')

### Data can be obtained from this link: https://www.football-data.co.uk/italym.php

In [4]:
data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,I1,18/08/2018,Chievo,Juventus,2,3,A,1,1,D,...,2.13,19,2.00,1.68,1.64,2.38,2.29,18.84,6.42,1.22
1,I1,18/08/2018,Lazio,Napoli,1,2,A,1,1,D,...,2.17,20,0.00,2.12,2.07,1.83,1.79,2.78,3.57,2.59
2,I1,19/08/2018,Bologna,Spal,0,1,A,0,0,D,...,1.58,19,-0.25,1.97,1.92,1.99,1.94,2.31,3.18,3.59
3,I1,19/08/2018,Empoli,Cagliari,2,0,H,1,0,H,...,1.71,19,-0.25,1.98,1.91,1.98,1.94,2.54,3.42,2.95
4,I1,19/08/2018,Parma,Udinese,2,2,D,1,0,H,...,1.65,20,0.00,1.81,1.77,2.18,2.10,2.80,3.24,2.78

In [5]:
data.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,...,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,1.484211,1.197368,0.623684,0.505263,11.234211,9.184211,5.736842,4.736842,12.844737,13.252632,...,1.994895,20.486842,-0.326316,2.051737,1.987579,1.981105,1.919868,3.023684,4.088211,5.168632
std,1.196857,1.155687,0.781020,0.724595,4.278607,3.955259,2.869034,2.579442,3.782978,4.291412,...,0.304155,1.680977,0.928388,0.276503,0.258860,0.250005,0.233636,2.299855,1.256473,4.649005
min,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,4.000000,4.000000,...,1.500000,15.000000,-2.500000,1.500000,1.440000,1.470000,1.410000,1.100000,2.730000,1.190000
25%,1.000000,0.000000,0.000000,0.000000,8.000000,6.000000,4.000000,3.000000,10.000000,10.000000,...,1.760000,19.000000,-1.000000,1.850000,1.790000,1.810000,1.767500,1.610000,3.327500,2.300000
50%,1.000000,1.000000,0.000000,0.000000,11.000000,9.000000,5.000000,5.000000,13.000000,13.000000,...,1.960000,20.000000,-0.250000,2.020000,1.960000,1.950000,1.890000,2.310000,3.610000,3.470000
75%,2.000000,2.000000,1.000000,1.000000,14.000000,11.000000,7.000000,6.000000,15.000000,16.000000,...,2.170000,22.000000,0.250000,2.182500,2.110000,2.142500,2.080000,3.392500,4.335000,6.342500
max,6.000000,6.000000,4.000000,3.000000,32.000000,23.000000,18.000000,13.000000,25.000000,27.000000,...,3.280000,25.000000,2.000000,3.100000,2.930000,2.960000,2.840000,18.840000,10.680000,31.410000

In [6]:
count = data['HomeTeam'].value_counts() 
count2 = data['AwayTeam'].value_counts() 
print(count)

Bologna       19
Lazio         19
Frosinone     19
Genoa         19
Fiorentina    19
Udinese       19
Torino        19
Sampdoria     19
Inter         19
Napoli        19
Sassuolo      19
Empoli        19
Juventus      19
Roma          19
Atalanta      19
Spal          19
Chievo        19
Milan         19
Cagliari      19
Parma         19
Name: HomeTeam, dtype: int64

In [7]:
print(count2)

Roma          19
Lazio         19
Frosinone     19
Genoa         19
Chievo        19
Udinese       19
Torino        19
Inter         19
Napoli        19
Bologna       19
Empoli        19
Juventus      19
Sampdoria     19
Atalanta      19
Spal          19
Sassuolo      19
Fiorentina    19
Milan         19
Cagliari      19
Parma         19
Name: AwayTeam, dtype: int64

In [8]:
data['FTHG2'] = ""
data['FTHG2'] = data['FTHG'] 
data['FTAG2'] = ""
data['FTAG2'] = data['FTAG']

In [9]:
HomeTable = (data.groupby('HomeTeam').agg({'FTHG':'sum', 'FTAG':'sum','FTHG2':'mean','FTAG2':'mean'}))
AwayTable = (data.groupby('AwayTeam').agg({'FTAG':'sum', 'FTHG':'sum','FTAG2':'mean','FTHG2':'mean'}))

In [10]:
print(HomeTable)

            FTHG  FTAG     FTHG2     FTAG2
HomeTeam
Atalanta      36    19  1.894737  1.000000
Bologna       28    22  1.473684  1.157895
Cagliari      23    20  1.210526  1.052632
Chievo        14    37  0.736842  1.947368
Empoli        33    30  1.736842  1.578947
Fiorentina    25    19  1.315789  1.000000
Frosinone     14    38  0.736842  2.000000
Genoa         21    22  1.105263  1.157895
Inter         27    10  1.421053  0.526316
Juventus      39    13  2.052632  0.684211
Lazio         36    25  1.894737  1.315789
Milan         31    17  1.631579  0.894737
Napoli        41    16  2.157895  0.842105
Parma         18    25  0.947368  1.315789
Roma          43    26  2.263158  1.368421
Sampdoria     28    16  1.473684  0.842105
Sassuolo      33    33  1.736842  1.736842
Spal          20    26  1.052632  1.368421
Torino        32    19  1.684211  1.000000
Udinese       22    22  1.157895  1.157895

In [11]:
print(AwayTable)

            FTAG  FTHG     FTAG2     FTHG2
AwayTeam
Atalanta      41    27  2.157895  1.421053
Bologna       20    34  1.052632  1.789474
Cagliari      13    34  0.684211  1.789474
Chievo        11    38  0.578947  2.000000
Empoli        18    40  0.947368  2.105263
Fiorentina    22    26  1.157895  1.368421
Frosinone     15    31  0.789474  1.631579
Genoa         18    35  0.947368  1.842105
Inter         30    23  1.578947  1.210526
Juventus      31    17  1.631579  0.894737
Lazio         20    21  1.052632  1.105263
Milan         24    19  1.263158  1.000000
Napoli        33    20  1.736842  1.052632
Parma         23    36  1.210526  1.894737
Roma          23    22  1.210526  1.157895
Sampdoria     32    35  1.684211  1.842105
Sassuolo      20    27  1.052632  1.421053
Spal          24    30  1.263158  1.578947
Torino        20    18  1.052632  0.947368
Udinese       17    31  0.894737  1.631579

In [12]:
HomeTable.rename(columns={"FTHG": "Home Goals For", 
                     "FTAG":"Home Goals Against","FTHG2":"Mean Home Goals For","FTAG2":"Mean Home Goals Against"}, inplace=True)
AwayTable.rename(columns={"FTAG": "Away Goals For", 
                     "FTHG":"Away Goals Against","FTAG2":"Away Away Goals For","FTHG2":"Mean Away Goals Against"}, inplace=True)

## renaming columns

In [13]:
HomeTable.head()

,Home Goals For,Home Goals Against,Mean Home Goals For,Mean Home Goals Against
HomeTeam,,,,
Atalanta,36,19,1.894737,1.000000
Bologna,28,22,1.473684,1.157895
Cagliari,23,20,1.210526,1.052632
Chievo,14,37,0.736842,1.947368
Empoli,33,30,1.736842,1.578947

In [14]:
AwayTable.head()

,Away Goals For,Away Goals Against,Away Away Goals For,Mean Away Goals Against
AwayTeam,,,,
Atalanta,41,27,2.157895,1.421053
Bologna,20,34,1.052632,1.789474
Cagliari,13,34,0.684211,1.789474
Chievo,11,38,0.578947,2.000000
Empoli,18,40,0.947368,2.105263

In [15]:
HomeTable['Total Games Played'] = ""
HomeTable.head()
AwayTable['Total Games Played'] = ""

In [22]:
HomeTable['Total Games Played'] = 19 ## inserting total games columns
AwayTable['Total Games Played'] = 19 ## make sure value is not in quotes otherwise the total cant be computed cause it would be recognized as a string value

In [23]:
HomeTable.head()  ## you can reshuffle the columns to different positions if needed and converted to a particular decimal point

,Home Goals For,Home Goals Against,Mean Home Goals For,Mean Home Goals Against,Total Games Played
HomeTeam,,,,,
Atalanta,36.0,19.0,1.894737,1.000000,19
Bologna,28.0,22.0,1.473684,1.157895,19
Cagliari,23.0,20.0,1.210526,1.052632,19
Chievo,14.0,37.0,0.736842,1.947368,19
Empoli,33.0,30.0,1.736842,1.578947,19

In [24]:
AwayTable.head()

,Away Goals For,Away Goals Against,Away Away Goals For,Mean Away Goals Against,Total Games Played
AwayTeam,,,,,
Atalanta,41.0,27.0,2.157895,1.421053,19
Bologna,20.0,34.0,1.052632,1.789474,19
Cagliari,13.0,34.0,0.684211,1.789474,19
Chievo,11.0,38.0,0.578947,2.000000,19
Empoli,18.0,40.0,0.947368,2.105263,19

## Now we insert 2 rows (total & mean of all columns)

In [25]:
HomeTable.loc['total']= HomeTable.sum()

HomeTable.loc['Mean']= HomeTable.iloc[:18].mean() ## choosing range of rows, otherwise it will compute the mean of all rows including total

AwayTable.loc['total']= AwayTable.sum()

AwayTable.loc['Mean']= AwayTable.iloc[:18].mean() ## choosing range of rows, otherwise it will compute the mean of all rows including total

In [26]:
print(HomeTable)

            Home Goals For  Home Goals Against  Mean Home Goals For  \
HomeTeam
Atalanta         36.000000                19.0             1.894737
Bologna          28.000000                22.0             1.473684
Cagliari         23.000000                20.0             1.210526
Chievo           14.000000                37.0             0.736842
Empoli           33.000000                30.0             1.736842
Fiorentina       25.000000                19.0             1.315789
Frosinone        14.000000                38.0             0.736842
Genoa            21.000000                22.0             1.105263
Inter            27.000000                10.0             1.421053
Juventus         39.000000                13.0             2.052632
Lazio            36.000000                25.0             1.894737
Milan            31.000000                17.0             1.631579
Napoli           41.000000                16.0             2.157895
Parma            18.000000                25.0             0.947368
Roma             43.000000                26.0             2.263158
Sampdoria        28.000000                16.0             1.473684
Sassuolo         33.000000                33.0             1.736842
Spal             20.000000                26.0             1.052632
Torino           32.000000                19.0             1.684211
Udinese          22.000000                22.0             1.157895
total          1156.333333               933.0            60.859649
Mean             28.333333                23.0             1.491228

            Mean Home Goals Against  Total Games Played
HomeTeam
Atalanta                   1.000000                19.0
Bologna                    1.157895                19.0
Cagliari                   1.052632                19.0
Chievo                     1.947368                19.0
Empoli                     1.578947                19.0
Fiorentina                 1.000000                19.0
Frosinone                  2.000000                19.0
Genoa                      1.157895                19.0
Inter                      0.526316                19.0
Juventus                   0.684211                19.0
Lazio                      1.315789                19.0
Milan                      0.894737                19.0
Napoli                     0.842105                19.0
Parma                      1.315789                19.0
Roma                       1.368421                19.0
Sampdoria                  0.842105                19.0
Sassuolo                   1.736842                19.0
Spal                       1.368421                19.0
Torino                     1.000000                19.0
Udinese                    1.157895                19.0
total                     49.105263               418.0
Mean                       1.210526                19.0

In [27]:
print(AwayTable)

            Away Goals For  Away Goals Against  Away Away Goals For  \
AwayTeam
Atalanta         41.000000           27.000000             2.157895
Bologna          20.000000           34.000000             1.052632
Cagliari         13.000000           34.000000             0.684211
Chievo           11.000000           38.000000             0.578947
Empoli           18.000000           40.000000             0.947368
Fiorentina       22.000000           26.000000             1.157895
Frosinone        15.000000           31.000000             0.789474
Genoa            18.000000           35.000000             0.947368
Inter            30.000000           23.000000             1.578947
Juventus         31.000000           17.000000             1.631579
Lazio            20.000000           21.000000             1.052632
Milan            24.000000           19.000000             1.263158
Napoli           33.000000           20.000000             1.736842
Parma            23.000000           36.000000             1.210526
Roma             23.000000           22.000000             1.210526
Sampdoria        32.000000           35.000000             1.684211
Sassuolo         20.000000           27.000000             1.052632
Spal             24.000000           30.000000             1.263158
Torino           20.000000           18.000000             1.052632
Udinese          17.000000           31.000000             0.894737
total           933.222222         1156.611111            49.116959
Mean             23.222222           28.611111             1.222222

            Mean Away Goals Against  Total Games Played
AwayTeam
Atalanta                   1.421053                19.0
Bologna                    1.789474                19.0
Cagliari                   1.789474                19.0
Chievo                     2.000000                19.0
Empoli                     2.105263                19.0
Fiorentina                 1.368421                19.0
Frosinone                  1.631579                19.0
Genoa                      1.842105                19.0
Inter                      1.210526                19.0
Juventus                   0.894737                19.0
Lazio                      1.105263                19.0
Milan                      1.000000                19.0
Napoli                     1.052632                19.0
Parma                      1.894737                19.0
Roma                       1.157895                19.0
Sampdoria                  1.842105                19.0
Sassuolo                   1.421053                19.0
Spal                       1.578947                19.0
Torino                     0.947368                19.0
Udinese                    1.631579                19.0
total                     60.874269               418.0
Mean                       1.505848                19.0