In [263]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [264]:
data = pd.read_csv('cia_world_factbook.csv')

In [265]:
data.head()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.8
4,Algeria,2381740,17.13,11900000000,4.6,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.4,3973,43550000000,2199600,1447310,1.92,25.4

In [266]:
data= data.iloc[1:] ## removed the first row that contained the data type

In [267]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 1 to 263
Data columns (total 45 columns):
Country                                           263 non-null object
Area(sq km)                                       263 non-null object
Birth rate(births/1000 population)                225 non-null object
Current account balance                           149 non-null object
Death rate(deaths/1000 population)                225 non-null object
Debt - external                                   201 non-null object
Electricity - consumption(kWh)                    215 non-null object
Electricity - production(kWh)                     213 non-null object
Exports                                           224 non-null object
GDP                                               230 non-null object
GDP - per capita                                  230 non-null object
GDP - real growth rate(%)                         212 non-null object
HIV/AIDS - adult prevalence rate(%)               168 non-null object
HIV/AIDS - deaths                                 148 non-null object
HIV/AIDS - people living with HIV/AIDS            164 non-null object
Highways(km)                                      230 non-null object
Imports                                           224 non-null object
Industrial production growth rate(%)              164 non-null object
Infant mortality rate(deaths/1000 live births)    225 non-null object
Inflation rate (consumer prices)(%)               222 non-null object
Internet hosts                                    191 non-null object
Internet users                                    216 non-null object
Investment (gross fixed)(% of GDP)                146 non-null object
Labor force                                       214 non-null object
Life expectancy at birth(years)                   225 non-null object
Military expenditures - dollar figure             170 non-null object
Military expenditures - percent of GDP(%)         165 non-null object
Natural gas - consumption(cu m)                   108 non-null object
Natural gas - exports(cu m)                       108 non-null object
Natural gas - imports(cu m)                       108 non-null object
Natural gas - production(cu m)                    107 non-null object
Natural gas - proved reserves(cu m)               97 non-null object
Oil - consumption(bbl/day)                        212 non-null object
Oil - exports(bbl/day)                            58 non-null object
Oil - imports(bbl/day)                            46 non-null object
Oil - production(bbl/day)                         212 non-null object
Oil - proved reserves(bbl)                        97 non-null object
Population                                        238 non-null object
Public debt(% of GDP)                             108 non-null object
Railways(km)                                      134 non-null object
Reserves of foreign exchange & gold               147 non-null object
Telephones - main lines in use                    232 non-null object
Telephones - mobile cellular                      228 non-null object
Total fertility rate(children born/woman)         225 non-null object
Unemployment rate(%)                              192 non-null object
dtypes: object(45)
memory usage: 92.5+ KB

In [268]:
data.describe() ## a lot of missing data is present

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
count,263,263,225,149,225,201,215,213,224,230,...,212,97,238,108,134,147,232,228,225,192
unique,263,252,218,149,210,188,212,208,220,228,...,94,87,237,104,133,146,222,213,166,124
top,Nigeria,5,16.83,-843100000,6.26,0,4650000,5000000,155000000,60000000,...,0,0,361,74.3,699,1206000000,7000,0,1.39,15
freq,1,5,3,1,3,5,2,2,2,2,...,114,8,2,2,2,2,3,8,6,6

In [269]:
count = data['Country'].count()
print('Total number of countries in the world is:', count)

Total number of countries in the world is: 263

In [270]:
data['Population']

1       29928987
2            NaN
3        3563112
4       32531853
5          57881
6          70549
7       11190786
8          13254
9            NaN
10         68722
11      39537943
12       2982904
13         71566
14           NaN
15      20090437
16       8184691
17       7911974
18        301790
19        688345
20           NaN
21     144319628
22        279254
23           NaN
24      10300483
25      10364388
26        279457
27       7460025
28         65365
29       2232291
30       8857870
         ...
234     36766356
235     65444371
236      5681519
237         1405
238       112422
239      1088644
240          NaN
241     10074951
242     69660559
243      4952081
244        20556
245        11636
246     27269482
247     47425336
248      2563212
249     60441457
250    295734134
251      3415920
252     26851195
253       205754
254     25375281
255     83535576
256       108708
257          NaN
258        16025
259      2385615
260       273008
261     20727063
262     11261795
263     12746990
Name: Population, Length: 263, dtype: object

In [271]:
pop_data = data['Population']
pop_data.isnull()

1      False
2       True
3      False
4      False
5      False
6      False
7      False
8      False
9       True
10     False
11     False
12     False
13     False
14      True
15     False
16     False
17     False
18     False
19     False
20      True
21     False
22     False
23      True
24     False
25     False
26     False
27     False
28     False
29     False
30     False
       ...
234    False
235    False
236    False
237    False
238    False
239    False
240     True
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257     True
258    False
259    False
260    False
261    False
262    False
263    False
Name: Population, Length: 263, dtype: bool

In [272]:
clean_data = pop_data.dropna()
count = clean_data.count()
print(count)

238

In [273]:
clean_data.sum() ## population sum has been summed as a string rather than an integer, lets convert

'299289873563112325318535788170549111907861325468722395379432982904715662009043781846917911974301790688345144319628279254103004831036438827945774600256536522322918857870402547616401151861127942264337236174503491392531342909464637060913607069163800053280504141822444270379989798264191598091213063138123616284295427967124760085804303912621388401617317298040449590411346670780133102411385432335476703690298950034104088013363593775057566704932535881456159913328937305328645703041829674696289335452234426065617819550627048513892011593256137628946774018243139021029853278841066835456375895024487131685641465518965228946786614160277652838121622921697520468986861000683529673710802643882419738796801786026074906401567662768835810303327318321274172449081236157597321518584433829590103092229121774842264423356485146281621714122902373826018186703534822115765563337173596617468571449198204526218040341121589242395313634910612291529398534750495907143290030868591230602193633106202903108105445542132409279127293413272584719406703203069213048276765471640749121995821649440354615465100116659371287719882166182880362459304130015831624199462030330391505545268634788427925628878574734638635144105662123916632863051776948223299771434203098440820746038958166312701211753417728728880187410264175991112683210829175811886017643442572054313632011070538032859162944344136403414622006477640187486438144270111739009001774748937018448752228943847163506367663566544437156815191405112422108864410074951696605594952081205561163627269482474253362563212604414572957341343415920268511952057542537528183535576108708160252385615273008207270631126179512746990'

In [274]:
clean_data = clean_data.astype(int) ## converting population from string data type to int

In [275]:
sum = clean_data.sum()## lets calculate the average population for a country ( some countries have been emitted from the list)
print(sum)

6903176002

### Population came around 6.9 billion which is quite close to the current world's population. Even though there were around 25 omissions, the countries ommitted seem to have a very small population and considering we'll building a recommender system for a holiday destination, ideally we refer countries that constantly monitor and publish the demographics of that country. Not that demographics are super important when it comes to making a holiday choice, but it shows that the countries might have infrastructure instability or complete inexistence of infrastructure ( no infrastructure = no commercial airport = no direct route :( ). Lets see the list of countries that didnt have any population records

In [276]:
null_data = data[['Country','Population']]
null_data = null_data[null_data.isna().any(axis=1)]
print (null_data)

                                          Country Population
2                                        Akrotiri        NaN
9                                      Antarctica        NaN
14                    Ashmore and Cartier Islands        NaN
20                                   Baker Island        NaN
23                                Bassas da India        NaN
33                                  Bouvet Island        NaN
35                 British Indian Ocean Territory        NaN
52                              Clipperton Island        NaN
66                                       Dhekelia        NaN
78                                  Europa Island        NaN
87            French Southern and Antarctic Lands        NaN
95                               Glorioso Islands        NaN
107             Heard Island and McDonald Islands        NaN
111                                Howland Island        NaN
122                                     Jan Mayen        NaN
124                                 Jarvis Island        NaN
128                           Juan de Nova Island        NaN
131                                  Kingman Reef        NaN
162                                Midway Islands        NaN
171                                Navassa Island        NaN
187                                 Palmyra Atoll        NaN
221  South Georgia and the South Sandwich Islands        NaN
223                               Spratly Islands        NaN
240                               Tromelin Island        NaN
257                                   Wake Island        NaN

### Quite remote places, maybe its not best we include these countries in our recommendation model. Lets continue on to find the average and median population of all our other countries

In [277]:
average = sum/count ## The average population is equal to 29 million
print(average)

29004941.18487395

In [278]:
import statistics
sorted_data = clean_data.sort_values()
sorted_data

193            46
126           361
51            361
53            628
108           921
237          1405
181          1828
180          2166
227          2701
80           2967
205          7012
202          7460
166          9341
245         11636
170         13048
8           13254
258         16025
186         20303
244         20556
58          21388
36          22643
94          27884
208         28880
164         32409
143         33717
203         38958
46          44270
81          46962
97          56375
5           57881
          ...
222      40341462
40       42909464
54       42954279
220      44344136
247      47425336
134      48422644
120      58103033
56       60085804
249      60441457
84       60656178
235      65444371
116      68017860
242      69660559
77       73053286
72       77505756
92       82431390
255      83535576
192      87857473
160     106202903
123     127417244
179     128771988
200     143420309
21      144319628
185     162419946
34      186112794
115     241973879
250     295734134
79      457030418
114    1080264388
50     1306313812
Name: Population, Length: 238, dtype: int64

In [279]:
median = statistics.median(sorted_data) 
               ## median is 4.44 million
print(median)  ## we can create a function where we pass in the data frame as a parameter
               ## take the length of the data passed, divide it by 2, round it, then use iloc to print out the median data.

4440570.5

### The median in this case is much better for estimating the average size of a population. The massive populations of USA, China, India will inflate the statistics.

In [280]:
data2 = data[['Country','Population']]
data2 = data2.dropna()
data2['Population'] = data2['Population'].astype(int) ## converting population from string data type to int
data2= data2.sort_values(by=['Population'])

In [281]:
data2.tail(10) ## 10 most populous countries

             Country  Population
179          Nigeria   128771988
200           Russia   143420309
21        Bangladesh   144319628
185         Pakistan   162419946
34            Brazil   186112794
115        Indonesia   241973879
250    United States   295734134
79   #European Union   457030418
114            India  1080264388
50             China  1306313812

### European Union should not be included, ideally this should be removed and the average pop and median should be updated, but we'll leave it there for now

In [282]:
unemp_rate = data[['Country','Unemployment rate(%)']]
unemp_rate = unemp_rate.dropna()
unemp_rate['Unemployment rate(%)'] = unemp_rate['Unemployment rate(%)'].astype(float) 
unemp_rate = unemp_rate.sort_values(by='Unemployment rate(%)')
unemp_rate.tail(5)
## top 5 documented unemployment rates

                     Country  Unemployment rate(%)
243             Turkmenistan                  60.0
53   Cocos (Keeling) Islands                  60.0
263                 Zimbabwe                  70.0
141                  Liberia                  85.0
170                    Nauru                  90.0

In [283]:
internet_users = data[['Country','Internet users','Population']]
internet_users = internet_users.dropna()
internet_users['Population'] = internet_users['Population'].astype(int) 
internet_users['Internet users'] = internet_users['Internet users'].astype(int) 
internet_users['internet users per capita'] = internet_users['Internet users']/internet_users['Population']
internet_users = internet_users.sort_values(by='internet users per capita')
internet_users.tail(20)

           Country  Internet users  Population  internet users per capita
110      Hong Kong         3212800     6898686                   0.465712
15       Australia         9472000    20090437                   0.471468
92         Germany        39000000    82431390                   0.473121
44          Canada        16110000    32805041                   0.491083
164         Monaco           16000       32409                   0.493690
208     San Marino           14300       28880                   0.495152
183         Norway         2288000     4593041                   0.498145
83         Finland         2650000     5223442                   0.507328
65         Denmark         2756000     5432335                   0.507332
173    Netherlands         8500000    16407491                   0.518056
215      Singapore         2310000     4425720                   0.521949
176    New Zealand         2110000     4035461                   0.522865
28         Bermuda           34500       65365                   0.527805
81   Faroe Islands           25000       46962                   0.532345
250  United States       159000000   295734134                   0.537645
229         Sweden         5125000     9001774                   0.569332
143  Liechtenstein           20000       33717                   0.593173
232         Taiwan        13800000    22894384                   0.602768
134    Korea South        29220000    48422644                   0.603437
113        Iceland          195000      296737                   0.657148

In [284]:
data['Internet users per capita'] = internet_users['internet users per capita']
data.head()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%),Internet users per capita
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN,0.000033
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.8,0.008420
4,Algeria,2381740,17.13,11900000000,4.6,21900000000,23610000000,25760000000,32160000000,212300000000,...,11870000000,32531853,37.4,3973,43550000000,2199600,1447310,1.92,25.4,0.015370
5,American Samoa,199,23.13,NaN,3.33,NaN,120900000,130000000,30000000,500000000,...,NaN,57881,NaN,NaN,NaN,15000,2377,3.25,6,NaN

### From this point on, it would be ideal to do some visualization of the results but I'm gonna skip this and I'm gonna go ahead towards building our holiday destination recommendation model, ghax xbajt naqa issa brow

### The question we need to ask ourselves is, What economic and socioeconomic features should the ideal countries possess? Given our data, we can build a recommendation model by extracting the countries that correspond the best with these features:
##### - High GDP per capita
##### - Low unemployment rate
##### - High life expectancy at birth
##### - Low HIV/AIDS deaths
##### - Few people living with HIV/AIDS
##### - Low crime rate

### Other features one may include could be low debt, recent GDP growth or  recent industrial growth but these dont really fit well. Greece for example is a country with a lot of debt but its hard to not consider it a holiday destination when you see photos of Santorini. So we will need to keep an open mind.

In [285]:
recom_data = data[['Country','Death rate(deaths/1000 population)','HIV/AIDS - deaths','HIV/AIDS - people living with HIV/AIDS','HIV/AIDS - adult prevalence rate(%)','Life expectancy at birth(years)','GDP - per capita','Unemployment rate(%)','Internet users per capita']]

In [286]:
recom_data.head(30)

,Country,Death rate(deaths/1000 population),HIV/AIDS - deaths,HIV/AIDS - people living with HIV/AIDS,HIV/AIDS - adult prevalence rate(%),Life expectancy at birth(years),GDP - per capita,Unemployment rate(%),Internet users per capita
1,Afghanistan,20.75,NaN,NaN,0.01,42.9,800,NaN,0.000033
2,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,5.12,NaN,NaN,NaN,77.24,4900,14.8,0.008420
4,Algeria,4.6,500,9100,0.1,73,6600,25.4,0.015370
5,American Samoa,3.33,NaN,NaN,NaN,75.84,8000,6,NaN
6,Andorra,6.07,NaN,NaN,NaN,83.51,26800,0,0.347276
7,Angola,25.9,21000,240000,3.9,36.61,2100,NaN,0.003664
8,Anguilla,5.43,NaN,NaN,NaN,77.11,7500,8,0.226347
9,Antarctica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,5.44,NaN,NaN,NaN,71.9,11000,11,0.145514
11,Argentina,7.56,1500,130000,0.7,75.91,12400,14.8,0.103698
12,Armenia,8.16,200,2600,0.1,71.55,4600,30,0.050287
13,Aruba,6.57,NaN,NaN,NaN,79.14,28000,0.6,0.335355
14,Ashmore and Cartier Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Australia,7.44,NaN,14000,0.1,80.39,30700,5.1,0.471468
16,Austria,9.7,100,10000,0.3,78.92,31300,4.4,0.455729
17,Azerbaijan,9.86,100,1400,0.1,63.35,3800,1.2,0.037917
18,Bahamas The,8.97,200,5600,3,65.54,17700,10.2,0.278339
19,Bahrain,4.08,200,600,0.2,74.23,19200,15,0.284305
20,Baker Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bangladesh,8.4,650,13000,0.1,62.08,2000,40,0.001684
22,Barbados,9.17,200,2500,1.5,71.41,16400,10.7,0.358097
23,Bassas da India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Belarus,14.15,1000,15000,0.3,68.72,6800,2,0.135130
25,Belgium,10.22,100,10000,0.2,78.62,30600,12,0.328046
26,Belize,6.04,NaN,3600,2.4,67.49,6500,12.9,0.107351
27,Benin,13.76,5800,68000,1.9,50.51,1200,NaN,0.009383
28,Bermuda,7.63,NaN,NaN,NaN,77.79,36000,5,0.527805
29,Bhutan,12.94,NaN,100,0.1,54.39,1400,NaN,0.006720
30,Bolivia,7.64,NaN,4900,0.1,65.5,2600,9.2,0.030481

In [287]:
recom_data = recom_data.dropna(thresh=3) ## removed rows of data that have 3 or more NaN values

In [288]:
recom_data.head(30)

,Country,Death rate(deaths/1000 population),HIV/AIDS - deaths,HIV/AIDS - people living with HIV/AIDS,HIV/AIDS - adult prevalence rate(%),Life expectancy at birth(years),GDP - per capita,Unemployment rate(%),Internet users per capita
1,Afghanistan,20.75,NaN,NaN,0.01,42.9,800,NaN,0.000033
3,Albania,5.12,NaN,NaN,NaN,77.24,4900,14.8,0.008420
4,Algeria,4.6,500,9100,0.1,73,6600,25.4,0.015370
5,American Samoa,3.33,NaN,NaN,NaN,75.84,8000,6,NaN
6,Andorra,6.07,NaN,NaN,NaN,83.51,26800,0,0.347276
7,Angola,25.9,21000,240000,3.9,36.61,2100,NaN,0.003664
8,Anguilla,5.43,NaN,NaN,NaN,77.11,7500,8,0.226347
10,Antigua and Barbuda,5.44,NaN,NaN,NaN,71.9,11000,11,0.145514
11,Argentina,7.56,1500,130000,0.7,75.91,12400,14.8,0.103698
12,Armenia,8.16,200,2600,0.1,71.55,4600,30,0.050287
13,Aruba,6.57,NaN,NaN,NaN,79.14,28000,0.6,0.335355
15,Australia,7.44,NaN,14000,0.1,80.39,30700,5.1,0.471468
16,Austria,9.7,100,10000,0.3,78.92,31300,4.4,0.455729
17,Azerbaijan,9.86,100,1400,0.1,63.35,3800,1.2,0.037917
18,Bahamas The,8.97,200,5600,3,65.54,17700,10.2,0.278339
19,Bahrain,4.08,200,600,0.2,74.23,19200,15,0.284305
21,Bangladesh,8.4,650,13000,0.1,62.08,2000,40,0.001684
22,Barbados,9.17,200,2500,1.5,71.41,16400,10.7,0.358097
24,Belarus,14.15,1000,15000,0.3,68.72,6800,2,0.135130
25,Belgium,10.22,100,10000,0.2,78.62,30600,12,0.328046
26,Belize,6.04,NaN,3600,2.4,67.49,6500,12.9,0.107351
27,Benin,13.76,5800,68000,1.9,50.51,1200,NaN,0.009383
28,Bermuda,7.63,NaN,NaN,NaN,77.79,36000,5,0.527805
29,Bhutan,12.94,NaN,100,0.1,54.39,1400,NaN,0.006720
30,Bolivia,7.64,NaN,4900,0.1,65.5,2600,9.2,0.030481
31,Bosnia and Herzegovina,8.44,100,900,0.1,72.85,6500,44,0.024842
32,Botswana,29.36,33000,350000,37.3,33.87,9200,23.8,0.036583
34,Brazil,6.15,15000,660000,0.7,71.69,8100,11.5,0.076835
36,British Virgin Islands,4.42,NaN,NaN,NaN,76.27,38500,3,0.176655
37,Brunei,3.42,200,200,0.1,74.8,23600,3.2,0.093995

In [289]:
recom_data = recom_data[pd.notnull(recom_data['Death rate(deaths/1000 population)'])] ## removing countries that have no inforation on death rate

In [290]:
recom_data.head(40)

,Country,Death rate(deaths/1000 population),HIV/AIDS - deaths,HIV/AIDS - people living with HIV/AIDS,HIV/AIDS - adult prevalence rate(%),Life expectancy at birth(years),GDP - per capita,Unemployment rate(%),Internet users per capita
1,Afghanistan,20.75,NaN,NaN,0.01,42.9,800,NaN,0.000033
3,Albania,5.12,NaN,NaN,NaN,77.24,4900,14.8,0.008420
4,Algeria,4.6,500,9100,0.1,73,6600,25.4,0.015370
5,American Samoa,3.33,NaN,NaN,NaN,75.84,8000,6,NaN
6,Andorra,6.07,NaN,NaN,NaN,83.51,26800,0,0.347276
7,Angola,25.9,21000,240000,3.9,36.61,2100,NaN,0.003664
8,Anguilla,5.43,NaN,NaN,NaN,77.11,7500,8,0.226347
10,Antigua and Barbuda,5.44,NaN,NaN,NaN,71.9,11000,11,0.145514
11,Argentina,7.56,1500,130000,0.7,75.91,12400,14.8,0.103698
12,Armenia,8.16,200,2600,0.1,71.55,4600,30,0.050287
13,Aruba,6.57,NaN,NaN,NaN,79.14,28000,0.6,0.335355
15,Australia,7.44,NaN,14000,0.1,80.39,30700,5.1,0.471468
16,Austria,9.7,100,10000,0.3,78.92,31300,4.4,0.455729
17,Azerbaijan,9.86,100,1400,0.1,63.35,3800,1.2,0.037917
18,Bahamas The,8.97,200,5600,3,65.54,17700,10.2,0.278339
19,Bahrain,4.08,200,600,0.2,74.23,19200,15,0.284305
21,Bangladesh,8.4,650,13000,0.1,62.08,2000,40,0.001684
22,Barbados,9.17,200,2500,1.5,71.41,16400,10.7,0.358097
24,Belarus,14.15,1000,15000,0.3,68.72,6800,2,0.135130
25,Belgium,10.22,100,10000,0.2,78.62,30600,12,0.328046
26,Belize,6.04,NaN,3600,2.4,67.49,6500,12.9,0.107351
27,Benin,13.76,5800,68000,1.9,50.51,1200,NaN,0.009383
28,Bermuda,7.63,NaN,NaN,NaN,77.79,36000,5,0.527805
29,Bhutan,12.94,NaN,100,0.1,54.39,1400,NaN,0.006720
30,Bolivia,7.64,NaN,4900,0.1,65.5,2600,9.2,0.030481
31,Bosnia and Herzegovina,8.44,100,900,0.1,72.85,6500,44,0.024842
32,Botswana,29.36,33000,350000,37.3,33.87,9200,23.8,0.036583
34,Brazil,6.15,15000,660000,0.7,71.69,8100,11.5,0.076835
36,British Virgin Islands,4.42,NaN,NaN,NaN,76.27,38500,3,0.176655
37,Brunei,3.42,200,200,0.1,74.8,23600,3.2,0.093995
38,Bulgaria,14.26,100,346,0.1,72.03,8200,12.7,0.084560
39,Burkina Faso,18.86,29000,300000,4.2,43.92,1200,NaN,0.003447
40,Burma,12.15,20000,330000,1.2,56.22,1700,5.2,0.000653
41,Burundi,17.43,25000,250000,6,43.5,600,NaN,0.002198
42,Cambodia,8.97,15000,170000,2.6,58.87,2000,2.5,0.002205
43,Cameroon,15.4,49000,560000,6.9,47.84,1900,30,0.003663
44,Canada,7.73,1500,56000,0.3,80.1,31500,7,0.491083
45,Cape Verde,6.62,225,775,0.04,70.45,1400,21,0.048778
46,Cayman Islands,4.81,NaN,NaN,NaN,79.95,32300,4.1,0.223831
47,Central African Republic,20.27,23000,260000,13.5,41.01,1100,8,0.001316

### So when I think of poor countries, basically countries with a very low GDP per capita, I think of Mali for example. Given its such a poor country, there is a large probability that it is unsafe to travel. People there are probably living off scraps so foreigners might be preyed upon somehow. Another factor is sanitation, there is without a doubt a higher presence of diseases in these countries. So now lets classify the GDP per capita range that a 'poor' country falls upon (<= 1500) and we will print that list and see which countries pop up. We will analyze also other features of those countries and we will drop them from our list accordingly. L

In [291]:
recom_data['GDP - per capita'] = recom_data['GDP - per capita'].astype(int)
poor_c =  recom_data['GDP - per capita']<=1500
data5 = recom_data[poor_c]
data5.head(25) ### these countries will be dropped

,Country,Death rate(deaths/1000 population),HIV/AIDS - deaths,HIV/AIDS - people living with HIV/AIDS,HIV/AIDS - adult prevalence rate(%),Life expectancy at birth(years),GDP - per capita,Unemployment rate(%),Internet users per capita
1,Afghanistan,20.75,NaN,NaN,0.01,42.9,800,NaN,0.000033
27,Benin,13.76,5800,68000,1.9,50.51,1200,NaN,0.009383
29,Bhutan,12.94,NaN,100,0.1,54.39,1400,NaN,0.006720
39,Burkina Faso,18.86,29000,300000,4.2,43.92,1200,NaN,0.003447
41,Burundi,17.43,25000,250000,6,43.5,600,NaN,0.002198
45,Cape Verde,6.62,225,775,0.04,70.45,1400,21,0.048778
47,Central African Republic,20.27,23000,260000,13.5,41.01,1100,8,0.001316
55,Comoros,8.4,NaN,NaN,0.12,61.96,700,20,0.007449
56,Congo Democratic Republic of the,14.43,100000,1100000,4.2,49.35,700,NaN,0.000832
57,Congo Republic of the,14.82,9700,90000,4.9,48.97,800,NaN,0.004936
60,Cote d'Ivoire,14.94,47000,570000,7,48.62,1500,13,0.005203
67,Djibouti,19.39,690,9100,2.9,43.1,1300,50,0.013635
70,East Timor,6.3,NaN,NaN,NaN,65.9,400,50,NaN
75,Eritrea,13.53,6300,60000,2.7,52.16,900,NaN,0.002083
77,Ethiopia,15.06,120000,1500000,4.4,48.83,800,NaN,0.001027
90,Gaza Strip,3.87,NaN,NaN,NaN,71.79,600,50,0.043595
104,Guinea-Bissau,16.53,1200,17000,10,46.97,700,NaN,0.013418
106,Haiti,12.34,24000,280000,5.6,52.92,1500,NaN,0.009850
130,Kenya,14.65,150000,1200000,6.7,47.99,1100,40,0.011824
132,Kiribati,8.37,NaN,NaN,NaN,61.71,800,2,0.019400
133,Korea North,7.05,NaN,NaN,NaN,71.37,1400,NaN,NaN
141,Liberia,17.87,7200,100000,5.9,47.69,900,85,0.000287
148,Madagascar,11.35,7500,140000,1.7,56.95,800,NaN,0.003908
149,Malawi,23.39,84000,900000,14.2,36.97,600,NaN,0.002961
152,Mali,19.05,12000,140000,1.9,45.09,900,5.3,0.002034

In [292]:
recom_data = recom_data[recom_data['GDP - per capita'] > 1500]

In [293]:
recom_data.shape

(185, 9)

In [294]:
recom_data.head(50)

,Country,Death rate(deaths/1000 population),HIV/AIDS - deaths,HIV/AIDS - people living with HIV/AIDS,HIV/AIDS - adult prevalence rate(%),Life expectancy at birth(years),GDP - per capita,Unemployment rate(%),Internet users per capita
3,Albania,5.12,NaN,NaN,NaN,77.24,4900,14.8,0.008420
4,Algeria,4.6,500,9100,0.1,73,6600,25.4,0.015370
5,American Samoa,3.33,NaN,NaN,NaN,75.84,8000,6,NaN
6,Andorra,6.07,NaN,NaN,NaN,83.51,26800,0,0.347276
7,Angola,25.9,21000,240000,3.9,36.61,2100,NaN,0.003664
8,Anguilla,5.43,NaN,NaN,NaN,77.11,7500,8,0.226347
10,Antigua and Barbuda,5.44,NaN,NaN,NaN,71.9,11000,11,0.145514
11,Argentina,7.56,1500,130000,0.7,75.91,12400,14.8,0.103698
12,Armenia,8.16,200,2600,0.1,71.55,4600,30,0.050287
13,Aruba,6.57,NaN,NaN,NaN,79.14,28000,0.6,0.335355
15,Australia,7.44,NaN,14000,0.1,80.39,30700,5.1,0.471468
16,Austria,9.7,100,10000,0.3,78.92,31300,4.4,0.455729
17,Azerbaijan,9.86,100,1400,0.1,63.35,3800,1.2,0.037917
18,Bahamas The,8.97,200,5600,3,65.54,17700,10.2,0.278339
19,Bahrain,4.08,200,600,0.2,74.23,19200,15,0.284305
21,Bangladesh,8.4,650,13000,0.1,62.08,2000,40,0.001684
22,Barbados,9.17,200,2500,1.5,71.41,16400,10.7,0.358097
24,Belarus,14.15,1000,15000,0.3,68.72,6800,2,0.135130
25,Belgium,10.22,100,10000,0.2,78.62,30600,12,0.328046
26,Belize,6.04,NaN,3600,2.4,67.49,6500,12.9,0.107351
28,Bermuda,7.63,NaN,NaN,NaN,77.79,36000,5,0.527805
30,Bolivia,7.64,NaN,4900,0.1,65.5,2600,9.2,0.030481
31,Bosnia and Herzegovina,8.44,100,900,0.1,72.85,6500,44,0.024842
32,Botswana,29.36,33000,350000,37.3,33.87,9200,23.8,0.036583
34,Brazil,6.15,15000,660000,0.7,71.69,8100,11.5,0.076835
36,British Virgin Islands,4.42,NaN,NaN,NaN,76.27,38500,3,0.176655
37,Brunei,3.42,200,200,0.1,74.8,23600,3.2,0.093995
38,Bulgaria,14.26,100,346,0.1,72.03,8200,12.7,0.084560
40,Burma,12.15,20000,330000,1.2,56.22,1700,5.2,0.000653
42,Cambodia,8.97,15000,170000,2.6,58.87,2000,2.5,0.002205
43,Cameroon,15.4,49000,560000,6.9,47.84,1900,30,0.003663
44,Canada,7.73,1500,56000,0.3,80.1,31500,7,0.491083
46,Cayman Islands,4.81,NaN,NaN,NaN,79.95,32300,4.1,0.223831
48,Chad,16.41,18000,200000,4.8,47.94,1600,NaN,0.001526
49,Chile,5.76,1400,26000,0.3,76.58,10700,8.5,0.223704
50,China,6.94,44000,840000,0.1,72.27,5600,9.8,0.071958
54,Colombia,5.59,3600,190000,0.7,71.72,6600,13.6,0.063607
59,Costa Rica,4.33,900,12000,0.6,76.84,9600,6.6,0.199195
61,Croatia,11.38,10,200,0.1,74.45,11200,13.8,0.225539
62,Cuba,7.19,200,3300,0.1,77.23,3000,2.5,0.010576
63,Cyprus,7.64,NaN,1000,0.1,77.65,7135,3.2,0.269185
64,Czech Republic,10.54,10,2500,0.1,76.02,16800,10.6,0.263643
65,Denmark,10.43,100,5000,0.2,77.62,32200,6.2,0.507332
68,Dominica,6.81,NaN,NaN,NaN,74.65,5500,23,0.181083
69,Dominican Republic,7.35,7900,88000,1.7,67.26,6300,17,0.055866
71,Ecuador,4.24,1700,21000,0.3,76.21,3700,11.1,0.042631
72,Egypt,5.26,700,12000,0.1,71,4200,10.9,0.034836
73,El Salvador,5.85,2200,29000,0.7,71.22,4900,6.3,0.082029
74,Equatorial Guinea,12,370,5900,3.4,55.56,2700,30,0.003359
76,Estonia,13.21,200,7800,1.1,71.77,14300,9.6,0.333110

### Next we will filter out countries who have a life expectancy less than that of 55 years

In [295]:
recom_data['Life expectancy at birth(years)'] = recom_data['Life expectancy at birth(years)'].astype(float)
recom_data = recom_data[recom_data['Life expectancy at birth(years)'] >= 55]
recom_data.shape

(173, 9)

### Next we will filter out countries with more than a 15% unemployment rate

In [296]:
recom_data['Unemployment rate(%)'] = recom_data['Unemployment rate(%)'].astype(float)
recom_data = recom_data[recom_data['Unemployment rate(%)'] < 15]
recom_data.shape

(120, 9)

In [297]:
recom_data.head(20)

,Country,Death rate(deaths/1000 population),HIV/AIDS - deaths,HIV/AIDS - people living with HIV/AIDS,HIV/AIDS - adult prevalence rate(%),Life expectancy at birth(years),GDP - per capita,Unemployment rate(%),Internet users per capita
3,Albania,5.12,NaN,NaN,NaN,77.24,4900,14.8,0.008420
5,American Samoa,3.33,NaN,NaN,NaN,75.84,8000,6.0,NaN
6,Andorra,6.07,NaN,NaN,NaN,83.51,26800,0.0,0.347276
8,Anguilla,5.43,NaN,NaN,NaN,77.11,7500,8.0,0.226347
10,Antigua and Barbuda,5.44,NaN,NaN,NaN,71.90,11000,11.0,0.145514
11,Argentina,7.56,1500,130000,0.7,75.91,12400,14.8,0.103698
13,Aruba,6.57,NaN,NaN,NaN,79.14,28000,0.6,0.335355
15,Australia,7.44,NaN,14000,0.1,80.39,30700,5.1,0.471468
16,Austria,9.7,100,10000,0.3,78.92,31300,4.4,0.455729
17,Azerbaijan,9.86,100,1400,0.1,63.35,3800,1.2,0.037917
18,Bahamas The,8.97,200,5600,3,65.54,17700,10.2,0.278339
22,Barbados,9.17,200,2500,1.5,71.41,16400,10.7,0.358097
24,Belarus,14.15,1000,15000,0.3,68.72,6800,2.0,0.135130
25,Belgium,10.22,100,10000,0.2,78.62,30600,12.0,0.328046
26,Belize,6.04,NaN,3600,2.4,67.49,6500,12.9,0.107351
28,Bermuda,7.63,NaN,NaN,NaN,77.79,36000,5.0,0.527805
30,Bolivia,7.64,NaN,4900,0.1,65.50,2600,9.2,0.030481
34,Brazil,6.15,15000,660000,0.7,71.69,8100,11.5,0.076835
36,British Virgin Islands,4.42,NaN,NaN,NaN,76.27,38500,3.0,0.176655
37,Brunei,3.42,200,200,0.1,74.80,23600,3.2,0.093995

### Now we would like to view the countries that have a NaN value for 'HIV adult prevalence rate'. Some of these countries, albeit having a NaN values are quite decent and popular holiday destionations and shouldnt be removed from our recommendation list. So lets seperate them

In [298]:
recom_data['HIV/AIDS - adult prevalence rate(%)'] = recom_data['HIV/AIDS - adult prevalence rate(%)'].astype(float)
null_data = recom_data[recom_data['HIV/AIDS - adult prevalence rate(%)'].isnull()]
null_data.shape

(31, 9)

In [299]:
null_data.head(40)

,Country,Death rate(deaths/1000 population),HIV/AIDS - deaths,HIV/AIDS - people living with HIV/AIDS,HIV/AIDS - adult prevalence rate(%),Life expectancy at birth(years),GDP - per capita,Unemployment rate(%),Internet users per capita
3,Albania,5.12,NaN,NaN,NaN,77.24,4900,14.8,0.008420
5,American Samoa,3.33,NaN,NaN,NaN,75.84,8000,6.0,NaN
6,Andorra,6.07,NaN,NaN,NaN,83.51,26800,0.0,0.347276
8,Anguilla,5.43,NaN,NaN,NaN,77.11,7500,8.0,0.226347
10,Antigua and Barbuda,5.44,NaN,NaN,NaN,71.90,11000,11.0,0.145514
13,Aruba,6.57,NaN,NaN,NaN,79.14,28000,0.6,0.335355
28,Bermuda,7.63,NaN,NaN,NaN,77.79,36000,5.0,0.527805
36,British Virgin Islands,4.42,NaN,NaN,NaN,76.27,38500,3.0,0.176655
46,Cayman Islands,4.81,NaN,NaN,NaN,79.95,32300,4.1,0.223831
79,#European Union,10.1,NaN,NaN,NaN,78.20,26900,9.5,0.450806
81,Faroe Islands,8.69,NaN,NaN,NaN,79.21,22000,1.0,0.532345
86,French Polynesia,4.63,NaN,NaN,NaN,75.90,17500,11.8,0.129397
94,Gibraltar,9.18,NaN,NaN,NaN,79.67,27900,2.0,0.222350
97,Greenland,7.77,NaN,100,NaN,69.65,20000,10.0,0.354767
98,Grenada,7.17,NaN,NaN,NaN,64.53,5000,12.5,0.167594
102,Guernsey,9.95,NaN,NaN,NaN,80.30,40000,0.5,NaN
125,Jersey,9.19,NaN,NaN,NaN,79.24,40000,0.9,NaN
143,Liechtenstein,7.06,NaN,NaN,NaN,79.55,25000,1.3,0.593173
146,Macau,4.23,NaN,NaN,NaN,82.03,19400,4.7,0.267143
154,Man Isle of,11.26,NaN,NaN,NaN,78.34,28500,0.6,NaN
166,Montserrat,7.17,NaN,NaN,NaN,78.71,3400,6.0,NaN
186,Palau,6.85,NaN,NaN,NaN,70.14,9000,2.3,NaN
196,Puerto Rico,7.86,NaN,7397,NaN,77.62,17700,12.0,0.153193
202,Saint Helena,6.43,NaN,NaN,NaN,77.76,2500,14.0,0.067024
203,Saint Kitts and Nevis,8.47,NaN,NaN,NaN,72.15,8800,4.5,0.256687
205,Saint Pierre and Miquelon,6.7,NaN,NaN,NaN,78.46,7000,9.8,NaN
208,San Marino,8.07,NaN,NaN,NaN,81.62,34600,2.6,0.495152
232,Taiwan,6.38,NaN,NaN,NaN,77.26,25300,4.5,0.602768
238,Tonga,5.35,NaN,NaN,NaN,69.53,2300,13.3,0.025796
244,Turks and Caicos Islands,4.28,NaN,NaN,NaN,74.51,11500,10.0,NaN
256,Virgin Islands,6.26,NaN,NaN,NaN,78.91,17200,9.3,0.275969

### Next we will filter out countries with an HIV prevalence rate of >=2%

In [302]:
recom_data['HIV/AIDS - adult prevalence rate(%)'] = recom_data['HIV/AIDS - adult prevalence rate(%)'].astype(float)
k_data = recom_data[(recom_data['HIV/AIDS - adult prevalence rate(%)'] < 2) ] 
k_data.shape

(85, 9)

In [303]:
final_data = pd.concat([k_data, null_data])  ## MERGING THE 2 DATAFRAMES TOGETHER

final_data.shape

(116, 9)

In [306]:
final_data.head(50)

,Country,Death rate(deaths/1000 population),HIV/AIDS - deaths,HIV/AIDS - people living with HIV/AIDS,HIV/AIDS - adult prevalence rate(%),Life expectancy at birth(years),GDP - per capita,Unemployment rate(%),Internet users per capita
11,Argentina,7.56,1500,130000,0.70,75.91,12400,14.8,0.103698
15,Australia,7.44,NaN,14000,0.10,80.39,30700,5.1,0.471468
16,Austria,9.7,100,10000,0.30,78.92,31300,4.4,0.455729
17,Azerbaijan,9.86,100,1400,0.10,63.35,3800,1.2,0.037917
22,Barbados,9.17,200,2500,1.50,71.41,16400,10.7,0.358097
24,Belarus,14.15,1000,15000,0.30,68.72,6800,2.0,0.135130
25,Belgium,10.22,100,10000,0.20,78.62,30600,12.0,0.328046
30,Bolivia,7.64,NaN,4900,0.10,65.50,2600,9.2,0.030481
34,Brazil,6.15,15000,660000,0.70,71.69,8100,11.5,0.076835
37,Brunei,3.42,200,200,0.10,74.80,23600,3.2,0.093995
38,Bulgaria,14.26,100,346,0.10,72.03,8200,12.7,0.084560
40,Burma,12.15,20000,330000,1.20,56.22,1700,5.2,0.000653
44,Canada,7.73,1500,56000,0.30,80.10,31500,7.0,0.491083
49,Chile,5.76,1400,26000,0.30,76.58,10700,8.5,0.223704
50,China,6.94,44000,840000,0.10,72.27,5600,9.8,0.071958
54,Colombia,5.59,3600,190000,0.70,71.72,6600,13.6,0.063607
59,Costa Rica,4.33,900,12000,0.60,76.84,9600,6.6,0.199195
61,Croatia,11.38,10,200,0.10,74.45,11200,13.8,0.225539
62,Cuba,7.19,200,3300,0.10,77.23,3000,2.5,0.010576
63,Cyprus,7.64,NaN,1000,0.10,77.65,7135,3.2,0.269185
64,Czech Republic,10.54,10,2500,0.10,76.02,16800,10.6,0.263643
65,Denmark,10.43,100,5000,0.20,77.62,32200,6.2,0.507332
71,Ecuador,4.24,1700,21000,0.30,76.21,3700,11.1,0.042631
72,Egypt,5.26,700,12000,0.10,71.00,4200,10.9,0.034836
73,El Salvador,5.85,2200,29000,0.70,71.22,4900,6.3,0.082029
76,Estonia,13.21,200,7800,1.10,71.77,14300,9.6,0.333110
82,Fiji,5.65,200,600,0.10,69.53,5900,7.6,0.061566
83,Finland,9.79,100,1500,0.10,78.35,29000,8.9,0.507328
84,France,9.08,1000,120000,0.40,79.60,28700,10.1,0.361051
92,Germany,10.55,1000,43000,0.10,78.65,28700,10.6,0.473121
96,Greece,10.15,100,9100,0.20,79.09,21300,10.0,0.161075
101,Guatemala,6.81,5800,78000,1.10,65.14,4200,7.5,0.027294
110,Hong Kong,5.98,200,2600,0.10,81.39,34200,6.7,0.465712
112,Hungary,13.19,100,2800,0.10,72.40,14900,5.9,0.159891
113,Iceland,6.68,100,220,0.20,80.19,31900,3.1,0.657148
114,India,8.28,310000,5100000,0.90,64.35,3100,9.2,0.017108
115,Indonesia,6.25,2400,110000,0.10,69.57,3500,9.2,0.033061
116,Iran,5.55,800,31000,0.10,69.96,7700,11.2,0.063219
118,Ireland,7.85,100,2800,0.10,77.56,31900,4.3,0.313770
119,Israel,6.18,100,3000,0.10,79.32,20800,10.7,0.318629
120,Italy,10.3,1000,140000,0.50,79.68,27700,8.6,0.318400
123,Japan,8.95,500,12000,0.10,81.15,29400,4.7,0.448919
129,Kazakhstan,9.46,200,16500,0.20,66.55,7800,8.0,0.016463
134,Korea South,6.26,200,8300,0.10,75.82,19200,3.6,0.603437
135,Kuwait,2.42,NaN,NaN,0.12,77.03,21300,2.2,0.242759
137,Laos,11.83,200,1700,0.10,55.08,1900,5.7,0.002413
138,Latvia,13.7,500,7600,0.60,71.05,11500,8.8,0.408691
144,Lithuania,10.92,200,1300,0.10,73.97,12500,8.0,0.193432
145,Luxembourg,8.41,100,500,0.20,78.74,58900,4.5,0.352134
150,Malaysia,5.06,2000,52000,0.40,72.24,9700,3.0,0.362879

### We can also filter out countries with very little internet usage per capita but this doesnt necessarily mean that they are bad holiday destionations. Ideally we would have more data but given the data that we have, we can with some certainty assume that the 116 countries left are all good holiday options. Some better than others, depending on your tastes and budget. Another thing we could do is we can rank the countries. We can insert a rank number instead of the value, then we can add the total of the rank values to give out a score. The highest score is the most recommended country out of our recommended countries and so and so for lowest score. We can also fill some of the missing values by doing seperate research so we can obtain a complete dataset.